.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(57, 53, 53);

/* font-family: 'Work Sans', sans-serif; */
}



.App-header {
  background-color: rgb(57, 53, 53);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  height: 100px;
  padding: 5px;
  border-bottom: solid 3px white;
}

button {
  font-family: 'Source Code Pro', monospace;
  margin: 1px; 
  cursor: pointer;
  
}

.container {
  display: flex;
  height: 100vh;
  min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  
}

.sidebar {
  overflow: auto;
  max-height: 100vh;
  max-width: 20%;
  padding: 5px;
  border-right: solid 2px black;
  background-color: white;

                                 

}



.selected-album {
  padding: 5px;
  margin-bottom: 5px ;
}

.selected-album > button {
  margin: 3px; 
}

.selected-album > h1 {
  font-size: 22px;
}

.selected-album > h2 {
  font-size: 16px;
}

.selected-album-cover{
  height: 150px;
  width: 150px;
 
}

.search-image-results {
  margin-top: 25px;
}

.searchImage {
  height: 90px; 
  width: 90px;

}

.searchImage:hover {
  height: 100px;
  width:100px;
  cursor: pointer; 
}



.canvas {
  display: grid;
  
  width: 100vh;
 
  height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  background-color: rgb(57, 53, 53);
  margin-bottom: 2px;
  
  
}

.img-container {
  grid-column: span 1; /* each item should span 1 column */
  grid-row: span 1; 
  min-width: 0; 
  min-height: 0;/* ensure the item can shrink if necessary */
  padding: 2%;
  
   /* add padding to create some additional space */
}

.canvas-image {
  width: 100%;
  height: auto;
  border: solid 2px rgb(57, 53, 53);
  
  
}

.canvas-image:hover {
  opacity: 0.5;
  cursor: url(./images/remove.png),pointer;

}





.canvas-list {
 
  text-align: left;
  padding: 5px;
  color:white;
  background-color: rgb(57, 53, 53);
  width: auto;
  


  


}



 li {
  list-style: square;

}


.canvas-config {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 5px;
  border: solid 2px rgb(57, 53, 53);
  margin: 5px;

}

label {
  display: inline-block;
  
  
}



.num-input {
  width: 30px;
  margin-left: 5px;
}


.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393535;
  color: white;
  padding: 5px;
  width: 100%;
}

.welcome-h1 {
  color: #ffc857;

}

.tips-h1 {
  color: #ffc857;

}

.icon-container {
  display: flex;
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .icon-container {
    display: flex;
    flex-direction: column;
  }

  .container {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
  }
}

.icon-section {
  /* border: 2px white solid ;  */
  margin: 5px;
  border-radius: 15px;
  padding: 10px;
  width: 12em;
  
}

 .welcome-ul {
  display: inline-block;
  text-align: left;
 
 
}

.welcome-ul > li {
  margin: 10px;
}

.welcome-btn {
  font-size:x-large;
  padding: 10px;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  background-color:rgb(255, 200, 87);
border: 0.2em solid white;
}

.icon {
  font-size: 4em;
  color: rgb(255, 200, 87);

}

.print {
  display: flex;
}