.App {
  text-align: center;
  
}



.App-header {
  background-color: rgb(57, 53, 53);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  height: 100px;
  padding: 5px;
  border-bottom: solid 3px white;
}

button {
  cursor: pointer;
  
}

.container {
  display: flex;
  
}

.sidebar {
  overflow: auto;
  max-height: 700px;
  max-width: 300px;
  padding: 5px;
  border-right: solid 2px black;
                                 

}



.selected-album {
  padding: 5px;
  margin-bottom: 5px ;
}

.selected-album > button {
  margin: 3px; 
}

.selected-album > h1 {
  font-size: 22px;
}

.selected-album > h2 {
  font-size: 16px;
}

.selected-album-cover{
  height: 150px;
  width: 150px;
 
}

.search-image-results {
  margin-top: 25px;
}

.searchImage {
  height: 90px; 
  width: 90px;

}

.searchImage:hover {
  height: 100px;
  width:100px;
  cursor: pointer; 
}



.canvas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: max-content;
  width: 60vw;
  height: fit-content;
  column-gap: 3px;
  padding:15px;
  
  background-color: rgb(57, 53, 53);
  
}

.canvas-image {
  width: 100%;
  height: auto;
  border: solid 2px rgb(57, 53, 53);
  
}

.canvas-image:hover {
  opacity: 0.5;
  cursor: url(./images/remove.png),pointer;

}





.canvas-list {
  text-align: left;
  padding: 5px;
  color:white;
  background-color: rgb(57, 53, 53);
  width: 300px;

  


}



 li {
  list-style: square;

}


.canvas-config {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 5px;
  border: solid 2px rgb(57, 53, 53);
  margin: 5px;

}

label {
  display: inline-block;
  
  
}



.num-input {
  width: 30px;
  margin-left: 5px;
}


.placeholder-text {
  padding: 5px;
  width: 100%;
}

 .placeholder-ul {
  display: inline-block;
  text-align: left;
}

.placeholder-ul > li {
  margin: 10px;
}

.print {
  display: flex;
}