.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.container {
  display: flex;
}

.sidebar {
  overflow: auto;
  max-height: 700px;
  max-width: 300px;
  padding: 5px;
  border-right: solid 2px black;

}



.selected-album {
  padding: 5px;
  margin-bottom: 5px ;
}

.selected-album > h1 {
  font-size: 22px;
}

.selected-album > h2 {
  font-size: 16px;
}

.selected-album-cover{
  height: 150px;
  width: 150px;
 
}

.search-image-results {
  margin-top: 25px;
}

.searchImage {
  height: 90px; 
  width: 90px;

}

.searchImage:hover {
  height: 100px;
  width:100px;
  cursor: pointer; 
}



.canvas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: max-content;
  gap: 3px;
  padding:15px;
  
}

.canvas-image {
  height: 200px;
  width: 200px;
  border: solid 2px black;
  
}

.canvas-image:hover {
  opacity: 0.5;

}


.canvas-list {
  text-align: left;
  padding: 5px;
  


}



 li {
  list-style: square;

}

