.App {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(57, 53, 53);

/* font-family: 'Work Sans', sans-serif; */
}


/* Apply a specific font to the search bar input */
input[type="text"] {
  font-family: 'Source Code Pro', monospace;
  /* Replace "Your Desired Font" with the actual font you want to use */
}




.container {
  display: flex;
  height: 100vh;
  min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  
}

.sidebar {
  overflow: auto;
  max-height: 100vh;
  max-width: 20%;
  padding: 5px;
  border-right: solid 2px black;
  background-color: white;

                                 

}

.sidebar-btn {
  font-size: 16px;
  padding: 6px;
  
  border-radius: 10px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  background-color:rgb(255, 200, 87);
border: 0.2em solid white;
cursor: pointer;
text-transform: capitalize;
  
}

.sidebar-btn:hover {
  border: 0.2em solid black;

}


.selected-album {
  padding: 5px;
  margin-bottom: 5px ;
}

.selected-album > button {
  margin: 3px; 
}

.selected-album > h1 {
  font-size: 22px;
}

.selected-album > h2 {
  font-size: 16px;
}

.selected-album-cover{
  height: 150px;
  width: 150px;
 
}

.search-image-results {
  margin-top: 25px;
}

.searchImage {
  height: 90px; 
  width: 90px;

}

.searchImage:hover {
  height: 100px;
  width:100px;
  cursor: pointer; 
}



.canvas {
  display: grid;
  padding: 5px;
  width: 100vh;
 
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
    overflow-x: hidden;
    overflow-y: hidden;
  background-color: rgb(57, 53, 53);
  margin-bottom: 2px;
  
  
}

.img-container {
  grid-column: span 1; /* each item should span 1 column */
  grid-row: span 1; 
  min-width: 0; 
  min-height: 0;/* ensure the item can shrink if necessary */
  padding: 2%;
  
   /* add padding to create some additional space */
}

.canvas-image {
  width: 100%;
  height: auto;
  border: solid 2px rgb(57, 53, 53);
  
  
}

.canvas-image:hover {
  opacity: 0.5;
  cursor: url(./images/remove.png),pointer;

}





.canvas-list {
 
  text-align: left;
  padding: 5px;
  color:white;
  background-color: rgb(57, 53, 53);
  width: auto;
  


  


}



 li {
  list-style: square;
  font-size: 1vw;

}


.canvas-config {
  display: flex; 
  flex-direction: column;
  align-items: baseline;
  padding: 5px;
  border: solid 3px rgb(255, 200, 87);
  margin: 5px;

}

label {
  display: inline-block;
  font-size: 12px;
  text-transform: capitalize;
  
}



.num-input {
  width: 30px;
  margin-left: 5px;
}


.color-picker {
  position: relative;
  top: 6px ;
  appearance: none;
  margin-left: 5px;
  cursor: pointer;  
  border: none;
  background-color: transparent;
}

#albumSearch {
  border-radius: 20px;
  padding: 4px;
  border: solid 3px rgb(255, 200, 87);
  


}

#albumSearch:placeholder-shown {
  text-transform: capitalize;
}

img {
  color: white;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #393535;
  color: white;
  padding: 5px;
  width: 100%;
}

.welcome-h1 {
  color: #ffc857;

}

.tips-h1 {
  color: #ffc857;

}

.icon-container {
  display: flex;
  margin-bottom: 15px;
}



.icon-section {
  /* border: 2px white solid ;  */
  margin: 2px;
  width: 12em;
  
}

 .welcome-ul {
  display: inline-block;
  text-align: left;
 
 
}

.welcome-ul > li {
  margin: 10px;
}

.welcome-btn {
  font-size:x-large;
  padding: 10px;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  background-color: white;
border: 0.2em solid rgb(255, 200, 87);
cursor: pointer;
 margin-bottom: 15px;
 margin-top: 10px;
}

.welcome-btn:hover {
  
background-color:rgb(255, 200, 87);
border: 0.2em solid white;
}

.icon {
  font-size: 4em;
  color: rgb(255, 200, 87);

}

.print {
  display: flex;
  height: 100vh;
}

@media only screen and (max-width: 1065px) {

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  
}

.sidebar {
  overflow: auto;
  max-height: 25vh;
  max-width: 100%;
  padding: 5px;
  border-right: solid 2px black;
  background-color: white;                          
  
  }                      

 

  .welcome-ul > li {
    font-size: 10px;
    margin: 10px;
  }

  .selected-album {
    display: flex
  }

  .titles {
    display: flex;
    flex-direction: column;
    margin-right: 4px; 
    
  }

  .titles > h1 {
    font-size: 22px;
  }

  .titles > h2 {
    font-size: 16px; 
  }

  

}


@media screen and (max-width: 1200px) and (min-width: 300px) {
  .canvas {
    display: grid;
    padding: 5px;
    width: 60vh;
   
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
      overflow-x: hidden;
      overflow-y: hidden;
    background-color: rgb(57, 53, 53);
    margin-bottom: 2px;
    
    
  }
}

@media only screen and (max-width: 600px) {
  
  .welcome-h1 {
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;

                                                    
  }

  .welcome-h3 {
    font-size: small;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-bottom: 0px;
    
    
  }




  .icon {
    font-size: 2em;
  }

  

  .container {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100vh;
    min-height:100%;
  }



  .welcome-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 1065px) and (min-width: 250px) {


  .selected-album {
    padding: 5px;
    margin-bottom: 5px ;
  }
  
  .sidebar-btn {
    font-size: 0.5rem;
    margin-bottom: 1px; 
    margin-left: 1px;
  }
  
  .titles > h1 {
    font-size: 2vh;
  }
  
  .titles > h2 {
    font-size: 1.5vh;
  }
  .selected-album-cover{
    height: 15vh;
    width: 15vh;
   
  }
  
  .search-image-results {
    margin-top: 25px;
  }
  
  .searchImage {
    height: 90px; 
    width: 90px;
  
  }

  .container {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100vh;
    min-height:100%;
  }


}
